src/lambdas/SMHideFacesOnVideo/video-step-functions.yml
Comment: A step functions to hide faces on a video
StartAt: getVideoMetadata
States:
  getVideoMetadata:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:eu-west-1",
                { "Ref": "AWS::AccountId" },
                "function:${self:service}-${self:provider.stage}-getVideoMetadata",
              ],
            ],
        }
      Payload:
        Input.$: "$"
    Next: explodeVideo
  explodeVideo:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:eu-west-1",
                { "Ref": "AWS::AccountId" },
                "function:${self:service}-${self:provider.stage}-explodeVideo",
              ],
            ],
        }
      Payload:
        Input.$: "$"
    Next: blurAllFrames
  blurAllFrames:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:eu-west-1",
                { "Ref": "AWS::AccountId" },
                "function:${self:service}-${self:provider.stage}-blurAllFrames",
              ],
            ],
        }
      Payload:
        Input.$: "$"
    Next: makeNewVideo
  makeNewVideo:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:eu-west-1",
                { "Ref": "AWS::AccountId" },
                "function:${self:service}-${self:provider.stage}-makeNewVideo",
              ],
            ],
        }
      Payload:
        Input.$: "$"
    Next: sendEmail
  sendEmail:
    Type: Task
    Resource: arn:aws:states:::lambda:invoke
    Parameters:
      FunctionName:
        {
          "Fn::Join":
            [
              ":",
              [
                "arn:aws:lambda:eu-west-1",
                { "Ref": "AWS::AccountId" },
                "function:${self:service}-${self:provider.stage}-sendEmail",
              ],
            ],
        }
      Payload:
        Input.$: "$"
    Next: close
  close:
    Type: Succeed
